@font-face {
  font-family: "AmandaeJp";
  src: url("../fonts/Vintage Loving Demo.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AmandaeJp2";
  src: url("../fonts/Meichic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
